<div class="edit-containers">
  <div class="row">
    <div class="col-md-4">
      <h2 class= "center">Editar Cuenta</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <% if resource.avatar.attached? %>
                <%= image_tag resource.avatar.variant(resize: "100x100!"), class: "rounded-circle"%>
              <% else %>
                <%= image_tag gravatar_image_url(current_user.email, size: 60), height: 40, width: 40, class: "rounded-circle"%>
              <% end %>
            </div> 
          </div>  
          <div class="image-upload">
            <p> <%= f.file_field :avatar %> </p>
          </div>
        </div>  

        <div class="form-group">
            <%= f.text_field :name, placeholder: "Nombre" %>
        </div>

        <div class="form-group">
            <%= f.text_field :lastname, placeholder: "Apellido" %>
        </div>
        
        <div class="form-group">
          <%= f.email_field :email, placeholder: "Correo electrónico", autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.password_field :password, placeholder: "Contraseña", autocomplete: "new-password" %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, placeholder: "Confirmar Contraseña",autocomplete: "new-password" %>
        </div>

        <div class="form-group">
          <%= f.password_field :current_password, placeholder: "Contraseña Actual",autocomplete: "current-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Actualizar", class: 'button' %>
        </div>
        </br>
      <% end %>
      
      <!--<%= link_to "Atrás", :back %>-->
    </div>  
  </div>  
</div>  
